<!DOCTYPE html>
<html>
    <head>
        <title>Fit Track</title>
        <link
            rel="icon"
            href="https://img.icons8.com/?size=100&id=1784&format=png&color=000000"
            type="image/x-icon"
        />
        <link href="style.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="container">
            <h1>Fit Track</h1>
            <div class="form-container-one">
                <div class="form-container-two">
                    <form action="/api/users" method="post" id="f">
                        <h2>Create a New User</h2>
                        <input
                            id="uname"
                            type="text"
                            name="username"
                            placeholder="username"
                        />
                        <input type="submit" value="Submit" />
                    </form>
                    <form action="/api/users" method="get" id="f">
                        <h3>Get All Users</h3>
                        <input type="submit" value="Get All Users" />
                    </form>
                </div>
                <form
                    action="/api/users/:_id/exercises"
                    id="exercise-form"
                    method="post"
                >
                    <h2>Add exercises</h2>
                    <input
                        id="uid"
                        type="text"
                        name=":_id"
                        placeholder=":_id"
                    />
                    <input
                        id="desc"
                        type="text"
                        name="description"
                        placeholder="description*"
                    />
                    <input
                        id="dur"
                        type="text"
                        name="duration"
                        placeholder="duration* (mins.)"
                    />
                    <input
                        id="date"
                        type="text"
                        name="date"
                        placeholder="date (yyyy-mm-dd)"
                    />
                    <input type="submit" value="Submit" />
                </form>
            </div>
            <div class="form-container-three">
                <form method="get" id="get-by-id-form">
                    <h3>Get user by ID</h3>
                    <input id="uid-get-by-id" type="text" placeholder=":_id" />
                    <input type="submit" value="Get User By ID" />
                </form>
                <form id="get-logs-with-filter-form" method="get">
                    <h2>Get logs with filters</h2>
                    <input
                        id="uid-get-logs-with-filter"
                        type="text"
                        placeholder=":_id"
                    />
                    <input
                        id="from"
                        type="text"
                        placeholder="from (yyyy-mm-dd) (optional)"
                    />
                    <input
                        id="to"
                        type="text"
                        placeholder="to (yyyy-mm-dd) (optional)"
                    />
                    <input
                        id="limit"
                        type="number"
                        placeholder="Limit (optional)"
                    />
                    <input type="submit" value="Get logs with filters" />
                </form>
            </div>
            <p>
                <strong>GET user's exercise log: </strong>
                <code
                    >GET /api/users/:_id/logs?[from][&amp;to][&amp;limit]</code
                >
            </p>
            <p><strong>[ ]</strong> = optional</p>
            <p>
                <strong>from, to</strong> = dates (yyyy-mm-dd);
                <strong>limit</strong> = number
            </p>
        </div>
        <script>
            let exerciseForm = document.getElementById("exercise-form");
            let getByIdForm = document.getElementById("get-by-id-form");
            let getLogsWithFilterForm = document.getElementById(
                "get-logs-with-filter-form"
            );

            exerciseForm.addEventListener("submit", () => {
                const userId = document.getElementById("uid").value;
                exerciseForm.action = `/api/users/${userId}/exercises`;
                exerciseForm.submit();
            });
            getByIdForm.addEventListener("submit", async () => {
                const userId = document.getElementById("uid-get-by-id").value;
                getByIdForm.action = `/api/users/${userId}/logs`;
                getByIdForm.submit();
            });
            getLogsWithFilterForm.addEventListener("submit", () => {
                let filters = "";
                const userId = document.getElementById(
                    "uid-get-logs-with-filter"
                ).value;
                const from = document.getElementById("from");
                const to = document.getElementById("to");
                const limit = document.getElementById("limit");

                from.name = from.value ? "from" : "";
                to.name = to.value ? "to" : "";
                limit.name = limit.value ? "limit" : "";

                getLogsWithFilterForm.action = `/api/users/${userId}/logs`;
                getLogsWithFilterForm.submit();
            });
        </script>
    </body>
</html>
